div.text{
  font-size:95%;
  position:absolute; left:870px; top:130px;
  white-space: nowrap;
  font-color: white;
  color:white;
  border-radius: 25px;
  border: 2px solid white;
  width: 530px;
  height: 600px;
  padding: 15px;
}
h1{
  font-weight: bold;
  color :white;
}
body{
  background-image: url('back.png');
  background-size: cover;
}
