{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/groupCreate.css') }}">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/todo">View ToDo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/todoAdd">Add ToDo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/groups">View Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/groups/create">Add Groups<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<body>
<h1>Create an Email Group</h1>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}

    <p> {{form.groupname.label}} <br>
       {{form.groupname(size=26)}}@group
    {%for error in form.groupname.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p>{{ form.create() }} </p>
</form>
</body>
{% include "login_footer.html" %}
{% endblock %}
