{% extends "base.html" %}
{% block content %}
<h1>Email Home Page</h1>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>{{ form.todo() }} </p>

    <p> {{form.recipient.label}} <br>
       {{form.recipient(size=32)}}
    {%for error in form.recipient.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.subject.label}} <br>
       {{form.subject(size=32)}}
    {%for error in form.subject.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.body.label}} <br>
       {{form.body(size=200)}}
    {%for error in form.body.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>
    <form method="POST" enctype="multipart/form-data" action="/index">
        <input type="file" name="file" accept=".png">
    </form>
  <br>
    <p>{{ form.send() }} </p>


<h2>Inbox</h2>
<body>
{%if emails%}
    {%for email in emails%}
    <p>From:{{ email.sender}}</p>
    <p>Subject:{{ email.subject}}</p>
    <p>Body:{{ email.body}}</p>
    <a href="download/{{ email.id }}">Image</a>
    <a href="delEmail/{{ email.id }}">Delete Email</a>
    {% endfor %}
{%else%}
    <p>You have currently have no emails<p>
{%endif%}
</body>
</form>
{% include "login_footer.html" %}
{% endblock %}
