{% extends "base.html" %}
{% block content %}
<h1>Email Home Page </h1>
<style>
h1 {
  color: black;
  font-size: 200%;
}
h2 {
  color: black;
  font-size: 200%;
}
p {
  color: black;
  font-size: 100%%;
}
div.sending{
 background-color: #f2f2f2;
}
div.inbox {
  background-color: #f2f2f2;
  width: 600px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
  text-indent: 10px;
}
</style>
<form method="POST" action="/index" enctype="multipart/form-data" novalidate>
    {{form.hidden_tag()}}
    <p>{{ form.todo() }} </p>
    <a href="{{ url_for('groups') }}">View Email Groups</a>
    <div class="sending">
    <p> {{form.recipient.label}} <br>
       {{form.recipient(size=32)}}
    {%for error in form.recipient.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.subject.label}} <br>
       {{form.subject(size=32)}}
    {%for error in form.subject.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p class = "body"> {{form.body.label}} <br>
       {{form.body(size=200)}}
    {%for error in form.body.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>
    <p>{{form.file.label}} {{form.file()}}</p>
  <br>
    <p>{{ form.send() }} </p>
    </div>

<h2>Inbox ({{emails.all()|length}})</h2>
{%if emails%}
        {%for email in emails%}{% if email.urgent %}
          <div class = "inbox">
          <p>URGENT!</p>
          <p>From: {{ email.sender}}</p>
          <p>Subject: {{ email.subject}}</p>
          <p>Body: {{ email.body}}</p>
          {%if email.file%}
            <p><a href="download/{{ email.id }}">Attachment</a></p>
          {%else%}
            <p>no attachments</p>
          {%endif%}
          <p><input type="checkbox" id={{email.id}} class="urgent" value="on" {{"checked" if email.urgent}}>
            Urgent?</p>
          <p><a href="{{url_for('delEmail', id = email.id)}}">Delete Email</a></p>
          </div>
        {% endif %}{% endfor %}

        {%for email in emails%}{% if not email.urgent %}
          <div class = "inbox">
          <p>From: {{ email.sender}}</p>
          <p>Subject: {{ email.subject}}</p>
          <p>Body: {{ email.body}}</p>
          {%if email.file%}
            <p><a href="download/{{ email.id }}">Attachment</a></p>
          {%else%}
            <p>no attachments</p>
          {%endif%}
          <p><input type="checkbox" id={{email.id}} class="urgent" value="on" {{"checked" if email.urgent}}>
            Urgent?</p>
          <p><a href="{{url_for('delEmail', id = email.id)}}">Delete Email</a></p>
          </div>
        {%endif%}{% endfor %}
{%else%}
    <p>You have currently have no emails<p>
{%endif%}
</form>
<script>
  window.onload = function() {
    var emailboxes = document.getElementsByClassName("urgent");
    //console.log(checkboxes);
    for (var i = 0; i < emailboxes.length; i++) {
      emailboxes[i].addEventListener('change', (event) => {
        window.location.replace("{{ url_for('index') }}/" + event.currentTarget.id);
      });
    }
  }
</script>
{% include "login_footer.html" %}
{% endblock %}
