{% extends "base.html" %}
{% block content %}
<h1>Email Home Page</h1>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>{{ form.todo() }} </p>

    <p> {{form.to.label}} <br>
       {{form.to(size=32)}}
    {%for error in form.to.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.title.label}} <br>
       {{form.title(size=32)}}
    {%for error in form.title.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.body.label}} <br>
       {{form.body(size=200)}}
    {%for error in form.body.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p>{{ form.send() }} </p>

    {% for message in messages %}
            <div class="message">
                <p>Subject: {{ message.subject }}</p>
                <p>Message: {{ message.body }}</p>
            </div>
    {% endfor %}

</form>
<body>
    <p>Inbox</p>
    </p>
    {% if messages %}
    {% for message in messages %}
            <div class="message">
                <p>Subject: {{ message.subject }}</p>
                <p>Message: {{ message.body }}</p>
            </div>
    {% endfor %}
{% else %}
    <p>No messages received.</p>
{% endif %}

</body>
{% include "login_footer.html" %}
{% endblock %}
