{% extends "base.html" %}
{% block content %}
<style>
div.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    paleturquoise 0%,
    paleturquoise 50%,
    white 50%,
    white 100%
  );
  
}
h1{
  text-align: 75%;
</style>
<div class ="container">
<h1>Sign In</h1>
</style>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> {{form.username.label}} <br>
       {{form.username(size=32)}}
    {%for error in form.username.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.email.label}} <br>
       {{form.email(size=32)}}
    {%for error in form.email.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.password.label}} <br>
       {{form.password(size=32)}}
    {%for error in form.password.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.remember_me.label}} <br>
       {{form.remember_me()}}</p>

    <p>{{form.submit()}}</p>
    <body> Don't have an account? Click the register button </body>
    <p>{{form.register()}}</p>
    </div>
</form>
{% endblock %}
