{% extends "base.html" %}
{% block content %}
<style>
div.container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #F4D06F;
    z-index: 1;
}
div.text{
 text-align:left;
 font-size:120%;
 position:absolute; left:900px; top:90px;
 white-space: nowrap;
}
h1{
  font-weight: bold;
  font-color: #423B0B;
}
</style>
<div class ="container">
<div class ="text">
<h1>Create your Email Account</h1>
<body> To register, please fill out the following fields below </body>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> {{form.username.label}} <br>
       {{form.username(size=32)}}
   
    {%for error in form.username.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.email.label}} <br>
       {{form.email(size=32)}}
    {%for error in form.email.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.password.label}} <br>
       {{form.password(size=32)}}

    {%for error in form.password.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>

    <p> {{form.confirm.label}} <br>
       {{form.confirm(size=32)}}
    {%for error in form.confirm.errors%}
    <span style="color: red;"> [{{error}}]</span>
    {% endfor %}
    </p>
    <body> Use up to 32 characters with a mix of letters, numbers, and symbols </body>

    <body><br>
          <br> Finish registering by clicking the submit button.
          <br> You will be prompted to the sign in page </body>
    <p>{{form.submit()}}</p>
    <body><br>
           Already have an account? No problem, sign in instead
    </body>
    <p>{{form.sign()}}</p>
    </div>
    </div>
</form>
{% endblock %}
