{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/todo">ToDo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/groups">View Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/groups/create">Add Groups</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Todo List</h1>
{% if not emptyList %}
<ul>
    {% for item in items %}
      <li>
        <input type="checkbox" id={{item.id}} class="check" value="on" {{"checked" if item.completed}}>
        <span style="color: blue;" id="c{{item.id}}">{{ item.content }}</span>
      </li>
    {% endfor %}
</ul>
{% endif %}
<a href="{{ url_for('todoAdd') }}">Click here to add todo list items!</a>

<form action="" method="POST" novalidate>
  {{form.hidden_tag()}}
  <p>Clear Todo List? This cannot be reversed.<br>{{form.confirm}}{{form.confirm.label}}
     <br>
  {{form.submit()}}
  </p>
</form>
<a href="{{ url_for('index') }}">Home Page</a>

<script>
  window.onload = function() {
    var checkboxes = document.getElementsByClassName("check");
    //console.log(checkboxes);
    for (var i = 0; i < checkboxes.length; i++) {
      if(checkboxes[i].checked) {
        document.getElementById("c"+checkboxes[i].id).style.setProperty("text-decoration", "line-through");
      }
      checkboxes[i].addEventListener('change', (event) => {
        if (event.currentTarget.checked)
        {
          document.getElementById("c"+event.currentTarget.id).style.setProperty("text-decoration", "line-through");
        }
        else
        {
          document.getElementById("c"+event.currentTarget.id).style.setProperty("text-decoration", "");
        }
        window.location.replace("{{ url_for('todo') }}/" + event.currentTarget.id);
      });
    }
  }
</script>
{% include "login_footer.html" %}
{% endblock %}
