{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>To-Do List</title>
<link rel="stylesheet" type="text/css" href='todo.css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <h1>To-Do List Page</h1>
    <body>
        <div class="container">
          <div class="input-container">
            <input id="input" placeholder="add new task"/>
            <button id="addButton"><i class="fas fa-plus"></i> add</button>
          </div>
          <div class="list-container">
            <h1>Todo list </h1>
            <ul id="list">
              <li class="list-item">task1</li>
              <li class="list-item">task2</li>
            </ul>
          </div>
        </div>
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <p>{{ form.submit() }} </p>
        </form>
    </body>
  </html>
<!--<h1> To-Do List Page </h1>
  <body>
    <div class="container">
      <div class="input-container">
        <input id="input" placeholder="add new task"/>
        <button id="add-button"><i class="fas fa-plus"></i> add</button>
      </div>
      <div class="list-container">
        <h1>Todo list </h1>
        <ul id="list">
          <li class="list-item">task1</li>
          <li class="list-item">task2</li>
        </ul>
      </div>
    </div>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>{{ form.submit() }} </p>
    </form>
  </body>-->
  {% include "login_footer.html" %}
  {% endblock %}
